#targetDataMasukLazismu div div div input {
	border: 0px;
	border-bottom: 1px dotted black;
}

#targetPelaksanaSurvey div div div input {
	border: 0px;
	border-bottom: 1px dotted black;
}

#targetIdentitasPenerimaManfaat div div div input {
	border: 0px;
	border-bottom: 1px dotted black;
}

#form1 * {
	font-size: 0.75rem;
}
